* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: serif;
    font-family: sans-serif;
    font-family: monospace;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-weight: 700;
    font-weight: 900;
    font-style: normal; */
    font-family: "Montserrat", sans-serif;
    /* font-family: "Fustat", sans-serif; */
    background: #141414;
    color: #F0F0F0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

/* :target {
    background: red;
} */

.window:target {
    display: flex;
}

.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(20, 20, 20, 0.8);
    z-index: 99;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}

.window form {
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    color: #000;
}

.nav {
    backdrop-filter: blur(34px);
    background: rgba(20, 20, 20, 0.8);
    padding: 10px 0;
    /* border: 1px solid #fff; */
    position: sticky;
    top: 0;
}

.nav .burger {
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
}

.nav>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .menu {
    display: flex;
    gap: 80px;
    font-weight: 500;
}

.nav .link {
    transition: 0.5s;
}

.nav .link:hover {
    color: #eb3a13;
}

.header .content {
    height: 747px;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1 {
    font-weight: 600;
    font-size: 140px;
    color: rgba(179, 29, 29, 1);
    /* background: #000000;
    opacity: 0.5; */
    /* box-shadow: inset 0px 0px 0px 20px blue;
    box-shadow: -10px -10px 20px 20px blue;
    text-shadow: 10px 10px 10px green; */
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.more {
    border-radius: 4px;
    width: 265px;
    height: 64px;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(135deg, #ffa600 0%, #e41818 100%);
    /* background: linear-gradient(30deg, red, blue, green, yellow); */
    font-weight: 800;
    font-size: 24px;
    color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
}

.porsche {
    display: flex;
    margin-top: 114px;
    gap: 30px;
    align-items: start;
}

.title {
    font-size: 40px;
    color: #eb3a13;
    margin-bottom: 30px;
}

.porsche p {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 40px;
}

.porsche img {
    margin-top: 9px;
    max-width: 540px;
    width: 100%;
}

.gallery {
    margin-top: 124px;
}

.gallery .content {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.gallery img {
    object-fit: cover;
    width: 40%;
    flex-grow: 1;
    border-radius: 4px;
}

.gallery .big {
    width: 100%;
}

.about {
    margin-top: 180px;
    margin-bottom: 120px;
}

.about p {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 152px;
}

.about img {
    border-radius: 4px;
    width: 100%;
}

.footer {
    background: #1f1f1f;
    padding-top: 38px;
    padding-bottom: 62px;
}

.footer form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    margin-right: auto;
}

input,
button {
    background: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input::placeholder {
    color: inherit;
}

.footer input {
    font-family: "Fustat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
}

.footer button {
    background: linear-gradient(135deg, #ffa600 0%, #e41818 100%);
    border-radius: 4px;
    padding: 9px;
    margin-top: 30px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    gap: 51px;
}

.footer .list {
font-weight: 500;
font-size: 14px;
line-height: 140%;
display: flex;
flex-direction: column;
gap: 30px;
}

.footer .subtitle {
    font-size: 16px;
    line-height: 90%;
}