@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    
    .porsche {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    
    .header h1 {
        font-size: 100px;
    }
    
    .more {
        max-width: 200px;
        width: 100%;
        height: auto;
        padding: 10px 20px;
    }
    
    .header .content {
        height: auto;
        padding: 20px 0;
        min-height: 80dvh;
    }
    
    .porsche, .gallery, .about {
        margin-top: 50px;
    }
    
    .about {
        margin-bottom: 50px;
    }
    
    .about p {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    
    .nav .menu { 
        gap: 30px;
    }
    
    .header h1 {
        font-size: 75px;
    }
    
    .more {
        max-width: max-content;
    }
    
    .porsche, .gallery, .about {
        text-align: center;
    }
    
    .gallery img {
        width: 100%;
    }
    
    .gallery .content {
        flex-wrap: wrap;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    
    .nav .burger {
        display: flex;
    }
    
    .nav .menu {
        position: fixed;
        top: 0;
        left: -100%;
        background: rgba(20, 20, 20, 0.8);
        width: 100%;
        height: 100dvh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    
    .burger:focus ~ .menu {
        left: 0;
    }
    
    .header h1 {
        font-size: 45px;
    }
    
    .more {
        font-size: 18px;
    }
    
    .title {
        font-size: 30px;
    }
    
    .porsche p, .about p {
        font-size: 16px;
    }
    
    .footer .container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .footer form {
        margin-right: 0;
    }
}